extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  p This project was developed to demonstrate the usage of NodeJS, ExpressJS to develop a RESTful API backend.
  p 
    a(href='/api') Start browsing APIs at the base endpoint: /api